<table class="tabela">
  <thead>
    <th class="cabecalho">Data</th>
    <th class="cabecalho">Valor</th>
    <th class="cabecalho">Destino</th>
  </thead>
  <tbody class="cabecalho.linha" *ngIf="transferencias?.length > 0; else listaVazia">
    <tr class="cabecalho.linha" *ngFor="let transferencia of transferencias">
      <td class="conteudo">{{ transferencia.data | date: 'short'}}</td>
      <td class="conteudo">{{ transferencia.valor | currency }}</td>
      <td class="conteudo">{{ transferencia.destino }}</td>
    </tr>
  </tbody>
</table>
<ng-template #listaVazia>
  <p>Nenhuma transferencia cadastrada</p>
</ng-template>
